<body id="landing">
  <div id="app_name">PRISM</div>
  <div class="photoShow">
    <div class="current">
      <img src="/seedImages/rainbow_colors.png" >
    </div>
    <div>
      <img src="/seedImages/pixel_rainbow.png" >
    </div>
    <div>
      <img src="/seedImages/grayscale.png" >
    </div>
    <div>
      <img src="/seedImages/dark_sky.png" >
    </div>
    <div>
      <img src="/seedImages/northern_lights.png" >
    </div>
  </div>
  <div class='hexagon'>
    <ul>
      <% if session[:user_id] != nil %>
        <li class='polygon_top'>
          <%= link_to 'My Album', user_path(session[:user_id]) %>
        </li>
        <li class='polygon_top'></li>
        <li class='polygon_top'>
          <%= link_to 'Logout', logout_path, method: :get %>
        </li>
        <li class='polygon_bottom'>
          <a href="/posts">Explore</a>
        </li>
        <li class='polygon_bottom'></li>
        <li class='polygon_bottom'>
          <a href="/about">About</a>
        </li>
      <% else %>
        <li class='polygon_top'>
          <%= link_to 'Login', login_path %>
        </li>
        <li class='polygon_top'></li>
        <li class='polygon_top'>
          <%= link_to 'Signup', new_user_path %>
        </li>
        <li class='polygon_bottom'>
          <a href="/posts">Images</a>
        </li>
        <li class='polygon_bottom'></li>
        <li class='polygon_bottom'>
          <a href="/about">About</a>
        </li>
      <% end %>
    </ul>
  </div>
</body>
