<div class="post-show text-center">

  <h1 class="prism">New User Account</h1>

  <p><em>Create a new account to keep track of your sound images.</em></p>

  <%= render 'form' %>

</div>
<div class="spacer"></div>
