<div class="new_post text-center">

  <h1 class="prism">Profile</h1>
  <h4>Your images</h4>

  <div class="new-button-div">
    <%= link_to 'New Post', new_post_path, class:"new-button" %>
  </div>

  <div id="img-carousel" class="owl-carousel">
    <% @user.posts.each do |post| %>
      <div class="item">
        <a href=<%= post_path(post) %>><img src=<%= post.images.first.filename.file.url %> class="pic-shadow"></a>
        <%= link_to 'delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>

</div>
