<h4>Sound Image Graph</h4>

<script>
  var dataset = [ <%= @images.first.lum %>,
                  <%= @images.first.var %>,
                  <%= @images.first.con %> ];

  var svgColor = "<%= @images.first.color_name %>";
</script>
