<div class="post-show text-center">

  <h1 class="prism">Edit Sound Image</h1>

  <%= render 'edit' %>

  <%= link_to 'Show', @post %> |
  <%= link_to 'Back', posts_path %>
</div>
<div class="spacer"></div>