<center><h1 class="prism">Prism<h1></center>

<center><h2>The refraction of color into sound</h2></center>

<p>
  <center><h4>The Idea</h4></center>
    Our Idea was simple. We strived to construct a web application that analyzes an image, and creates a musical piece that matches it. We achieved this goal through the use of countless algorithms that take advantage of inherent traits on a given image. We constructed the functionality first, and the front end after. With regards to the latter, we knew that our idea was very experimental and different in nature, so we wanted the design of the site to match. Thus, PRISM as you now see it was created.

  <center><h4>The Team</h4></center>
<span class="img-alt"><div class="center-text">Chris Miklius</div><img src= images/chris.jpeg alt ="" class="pic-shadow"><div class="center-text"><a href="http://linkedin.com/in/chrismiklius">Find Me On Linkedin</a></div></span>

<span class="img-alt2"><div class="center-text">Becky Lehmann</div><img src= images/becky.jpg width ="250" height="250"class="pic-shadow"><div class="center-text"><a href="https://www.linkedin.com/in/becky-lehmann-975b1751">Find Me On Linkedin</a></div></span>

<span class="img-alt3"><div class="center-text">Pratik Shah</div><img src= images/pratik.png width ="250" height="250"class="pic-shadow"><div class="center-text"><a class="link" href="http://linkedin.com/in/pratikmshah">Find Me On Linkedin</a></div></span>

<span class="img-alt4"><div class="center-text">Brian Wagner</div><img src= images/brian.jpeg class="pic-shadow"><div class="center-text"><a href="http://linkedin.com/in/brianwagnerfilm">Find Me On Linkedin</a></div></span>





</p>