@import url(http://fonts.googleapis.com/css?family=Lato:300);

html,
body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}

#landing {
  background: #404853;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  width: 100%;
}

li {
  list-style-type: none;
}

/*=================================== container
*/

.hexagon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  z-index: 999999;
  transform-origin: center;
  transform: scale(4.00005); /* hack Firefox smooth edge */
}

/*=================================== top and bottom triangle
*/

.polygon_top,
.polygon_bottom {
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position: absolute;
  width: 0;
  height: 0;
  transition: width 0.3s ease-in-out, border 0.1s linear, border-radius 0.5s ease-in-out;
}

.polygon_top a,
.polygon_bottom a {
  color: rgba(55, 55, 55, 0);
  display: block;
  font-size: 0em;
  text-transform: uppercase;
  width: 100%;
  transition: color, font-size 0.3s;
}

.polygon_top:nth-child(1),
.polygon_top:nth-child(3),
.polygon_bottom:nth-child(4),
.polygon_bottom:nth-child(6) {
  cursor: pointer;
}

.polygon_top:nth-child(1):hover > a,
.polygon_top:nth-child(3):hover > a,
.polygon_bottom:nth-child(4):hover > a,
.polygon_bottom:nth-child(6):hover > a {
  color: #373737;
  font-size: 1em;
}

/* top left wedge */
.polygon_top:nth-child(1) {
  border-bottom: 30px solid rgba(0,0,0, 0.5);
  right: 0;
  transform: translateX(-30px) translateY(-15px);
}

/* top left wedge --> expanded*/
.polygon_top:nth-child(1):hover {
  border-radius: 4px 0 0 4px;
  border-left: 18px solid rgba(0,0,0, 0.55);
  width: 120px;
  z-index: 100;
}
.polygon_top:nth-child(1) > a {
  line-height: 30px;
}

/* bottom middle wedge */
.polygon_top:nth-child(2) {
  border-bottom: 30px solid rgba(70, 70, 70, 0.25);
  transform: translateX(12px) translateY(15px);
}

/* top right wedge */
.polygon_top:nth-child(3) {
  border-bottom: 30px solid rgba(250, 250, 250, 0.5);
  left: 0;
  transform: translateX(30px) translateY(-15px);
}

/* top right wedge --> expanded */
.polygon_top:nth-child(3):hover {
  border-radius: 0 4px 4px 0;
  border-right: 18px solid rgba(250, 250, 250, 0.5);
  width: 120px;
  z-index: 100;
}

.polygon_top:nth-child(3) > a {
  text-align: right;
  line-height: 30px;
}

/* bottom left wedge */
.polygon_bottom:nth-child(4) {
  border-top: 30px solid rgba(30, 30, 30, 0.5);
  right: 0;
  transform: translateX(-30px) translateY(15px);
}

/* bottom left wedge --> expanded */
.polygon_bottom:nth-child(4):hover {
  border-radius: 4px 0 0 4px;
  border-left: 18px solid rgba(30, 30, 30, 0.5);
  width: 120px;
  z-index: 100;
}

.polygon_bottom:nth-child(4) > a {
  text-align: left;
  line-height: 30px;
  margin-top: -30px;
}

/*top middle wedge */
.polygon_bottom:nth-child(5) {
  border-top: 30px solid rgba(20, 20, 20, 0.4);
  transform: translateX(12px) translateY(-15px);
}

/* bottom right wedge */
.polygon_bottom:nth-child(6) {
  border-top: 30px solid rgba(150, 150, 150, 0.4);
  transform: translateX(30px) translateY(15px);
}

/* bottom right wedge --> expanded*/
.polygon_bottom:nth-child(6):hover {
  border-radius: 0 4px 4px 0;
  border-right: 18px solid rgba(150, 150, 150, 0.4);
  width: 120px;
  z-index: 100;
}

.polygon_bottom:nth-child(6) > a {
  text-align: right;
  line-height: 30px;
  margin-top: -30px;
}

p {
  color: #666;
  cursor:default;
  font-size:0.8em;
  margin-top:5em;
  user-select: none;
}

.photoShow {
/*  height: 100%;
  width: 100%;*/
  position: relative;
  margin: 0 auto;
}

.photoShow div img {
  height: 900px;
  width: 1300px;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.photoShow div {
  position: absolute;
  left: 0;
  z-index: 0;
}

.photoShow div.current {
  z-index: 2;
}

.photoShow div.previous {
  z-index: 1;
}

body {
  margin: 0;
  padding: 0;
}

#app_name {
  margin: auto;
  font-size: 10em;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 1.2em;
  display: inline-block;
  text-align: center;
  vertical-align: center;
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.6;
}