body {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  background: white;
}

.main-container {
  background-image: url("/images/pixel-trans10-bkg.png");
  background-size: cover;
/*  height: 100%;
  width: 100%;*/
  background-repeat: none;
  color: gray;
  overflow: auto;
}

.top-content {
  z-index: 6;
  color: gray;
  margin-top: 10%;
}

.prism {
  letter-spacing: 1.1em;
  margin-right: -50px;
  margin-top: 10%;
  margin-bottom: 5%;
  font-size: 2em;
  color: #33cccc;
}

.new-button-div {
  text-align: center;
  margin: auto;
}

#img-carousel {
  margin-top: 5%;
  padding: 5%;
}

.owl-item {
  height: 300px;
  width: 500px;
}

.post-item {
  min-width: 150px;
}

a {
  color: #33cccc;
}

a:hover {
  color: orange;
}

@-webkit-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  10%  { background-color: #cccccc;}
  20%  { background-color: #FFFFFF; }
  30%  { background-color: #e5ffff;}
  40% { background-color: #FFFFFF; }
  50% { background-color: #999999; }
  60% { background-color: #FFFFFF; }
  70% { background-color: #fff3e5; }
  80% { background-color: #FFFFFF; }
  90% { background-color: #e5ffe5; }
  100% { background-color: #FFFFFF; }
}
@-moz-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  10%  { background-color: #cccccc;}
  20%  { background-color: #FFFFFF; }
  30%  { background-color: #e5ffff;}
  40% { background-color: #FFFFFF; }
  50% { background-color: #999999; }
  60% { background-color: #FFFFFF; }
  70% { background-color: #fff3e5; }
  80% { background-color: #FFFFFF; }
  90% { background-color: #e5ffe5; }
  100% { background-color: #FFFFFF; }
}
@-o-keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  10%  { background-color: #cccccc;}
  20%  { background-color: #FFFFFF; }
  30%  { background-color: #e5ffff;}
  40% { background-color: #FFFFFF; }
  50% { background-color: #999999; }
  60% { background-color: #FFFFFF; }
  70% { background-color: #fff3e5; }
  80% { background-color: #FFFFFF; }
  90% { background-color: #e5ffe5; }
  100% { background-color: #FFFFFF; }
}
@keyframes fadeIt {
  0%   { background-color: #FFFFFF; }
  10%  { background-color: #cccccc;}
  20%  { background-color: #FFFFFF; }
  30%  { background-color: #e5ffff;}
  40% { background-color: #FFFFFF; }
  50% { background-color: #f2e5ff; }
  60% { background-color: #FFFFFF; }
  70% { background-color: #fff3e5; }
  80% { background-color: #FFFFFF; }
  90% { background-color: #e5ffe5; }
  100% { background-color: #FFFFFF; }
}
  /*0%   { background-color: #FFFFFF; }
  25%  { background-color: #cccccc;}
  50%  { background-color: #FFFFFF; }
  75%  { background-color: #999999;}
  100% { background-color: #FFFFFF; }*/

.backgroundAnimated{
  background-image: url("/images/pixel-trans10-bkg.png");
  -webkit-animation: fadeIt 40s infinite;
     -moz-animation: fadeIt 40s infinite;
       -o-animation: fadeIt 40s infinite;
          animation: fadeIt 40s infinite;
}

#img-carousel {
/*  background-color: rgba(10,10,10, 0.1);*/
}

.nav-bkg {
  box-shadow: none;
  background-color: none;
  border: none;
}

.full-wide {
  height: 0%;
}

.owl-carousel {
  background-image: none;
  background-color: transparent;
  opacity: 0.1;
}

.post-item {
  background-color: rgba(10,10,10, 0.1);
}

.teal-text {
  color: #33cccc;
}

.owl-item img {
  box-shadow: 1px 1px 45px #666666;
}

html {
  height: 100%;
  width: 100%;
}

.new-button {
  background-color: none;
  border: 2px solid orange;
}

.flex-container {
  @include display-flex();
  @include flex-wrap(wrap);
}