<div class="nav-bkg full-wide">
  <div class='nav-container'>
    <ul>
      <li class='polygon_top'>
        <a href="/login">Login</a>
      </li>
      <li class='polygon_top'></li>
      <li class='polygon_top'>
        <a href="/signup">Signup</a>
      </li>
      <li class='polygon_bottom'>
        <a href="/posts">Images</a>
      </li>
      <li class='polygon_bottom'></li>
      <li class='polygon_bottom'>
        <a href="/about">About</a>
      </li>
    </ul>
  </div>
</div>
